Tiberian Twilight/Schemas/WeaponNuggets/TargetChooserNugget.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:complexType name="TargetChooserNuggetType">
		<xs:complexContent>
			<xs:extension base="WeaponEffectNugget">
				<xs:attribute name="Range" type="SageReal" use="required" />
				<xs:attribute name="HitsPerTarget" type="SageInt" default="1" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


</xs:schema>
